.git
.idea
*.tmp
/vendor/github.com/
routers/commentsRouter___________________Users_apple_go_src_beedemo2_controllers.go
routers/commentsRouter___________________Users_apple_go_src_beedemo2_controllers_bihu_carinsurance.go
routers/commentsRouter_controllers.go
routers/commentsRouter_controllers_bihu_carinsurance.go
swagger/swagger.json
swagger/swagger.yml
